.founder-ms-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    width: 50%;
}
.founder-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.message-from-founder{
    display: flex;
    justify-content: space-evenly;
    background-color: #01539D;
    z-index: 40;
    
    
    padding-top: 50px;
}


.founder-img{
    border: 5px solid aqua ;
    width: fit-content;
    border-radius: 50%;
    position: relative;
}
.founder-img::after{
    content: url(/assets/founder-frame-right.png);
    
    position:absolute;
    right: 0;
    top:240px
}
.founder-img::before{
    content: url('/assets/founder-frame-left.png');
    left: 20px;
    top: 25px;
    position: absolute;
    
}

@media(max-width:425px){
    .message-from-founder{
        flex-direction: column;
    }
    .founder-ms-left{
        width: 100%;
    }
    
    /* .founder-ms-right{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        color: white;
        padding-bottom: 30px;
        font-weight: 800;
        font-size: 20px;
    } */
}
.founder-ms-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
    padding-bottom: 30px;
    font-weight: 800;
    font-size: 20px;
}
@media (min-width:1024px) {
    .founder-text h1{
        font-weight: 700;
        font-size: 38px;
    }
    .message-from-founder{
        position: relative;
        overflow: hidden;

    }
    .message-from-founder::after{
        content: url(/assets/founder-vector-bg.png);
        position:absolute;
        top: 0;
        bottom: 0;
        right: 0;
        
    }
    .founder-img img{
        z-index: 30;
    }
    
}
@media (max-width:768px) {

    
}